<div class="col-md-6 col-md-offset-3">
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th></th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Description</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="books in vm.books">
                <td><img src="../images/Books/{{books.isbn}}.jpg"/></td>
                <td>{{ books.isbn }}</td>
                <td>{{ books.title }}</td>
                <td>{{ books.description }}</td>
                <td>{{ books.genre }}</td>
            </tr>
        </tbody>
       
    </table>

</div>