@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Geek Text is an aspiring online book store that has tasked themselves with bringing the absolute best of Geek Culture to everyone. 
    Bringing together books from across all of Geek culture from textbooks for our students to Fantasy Novels and Graphic Novels for a more relaxed crowd, 
    Geek Text aims to expand these fantastic works to the world.<br /><br />
    
    Offering easy to find books through our advanced book browsing and easy to checkout shopping once registered, 
    Geek Text values the customers first and foremost and works to bring them the best experience posssible through our completely online bookstore.</p>
