@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Geek Text</h1>

        <a asp-controller="ApplicationUsers" asp-action="Index" class="btn btn-lg btn-success">Browse Users</a>

        <a asp-controller="Books" asp-action="Index" class="btn btn-lg btn-success">Browse Books</a>

        <a asp-controller="Authors" asp-action="Index" class="btn btn-lg btn-success">Browse Authors</a>

        <a asp-controller="BookAuthors" asp-action="Index" class="btn btn-lg btn-success">Browse Book/Author Relation</a>
    </div>
</div>
