@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>

<head>
    <link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Lumen.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/Lumen.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="App" asp-action="Index"><img height="75" width="75" src="~/images/GeekText.svg"/></a></li>
                </ul>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a asp-area="" asp-controller="App" asp-action="Index" class="navbar-brand">Geek Text</a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="App" asp-action="About" style="margin: 25px 0px 25px 0px">About</a></li>
                    <li><a asp-area="" asp-controller="App" asp-action="Contact" style="margin: 25px 0px 25px 0px">Contact</a></li>
                </ul>

                <select class='navbar-form navbar-left nav-search-dropdown searchSelect' id='searchDropdownBox' style="display:inline-block; margin: 40px 0px 40px 0px">
                    <option selected='selected' value='search-alias=aps'>All</option>
                    <option value='genre'>Genre</option>
                    <option value='topSellers'>Top Sellers</option>
                    <option value='rating'>Book Rating</option>
                </select>
                 
                <form class="navbar-form navbar-left"  style="margin: 30px 0px 30px 0px">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="App" style="margin: 25px 0px 25px 0px" asp-action="Cart" ><span class="glyphicon-shopping-cart:before"></span> Cart</a></li>
                    <!--
                    <li><a asp-area="" asp-controller="App" asp-action="SignUp" ><span class="glyphicon glyphicon-user" style="margin: 25px 0px 25px 0px"></span> Sign Up</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Login"><span class="glyphicon glyphicon-log-in" style="margin: 25px 0px 25px 0px"></span> Login</a></li>
                    -->
                </ul>
                @await  Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color: #f5f5f5">
            <h3>2017 - GeekText</h3>
            <table>
                <tr>
                    <td><a asp-area="" asp-controller="App" asp-action="Contact" style="margin: 25px 0px 25px 0px"><strong>Contact</strong></a></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><strong>Contact Information:</strong></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><strong>Contact Address:</strong></td>
                </tr>
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="Login" style="margin: 25px 0px 25px 0px"><strong>Login</strong></a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Phone: <i>305.555.5555</i></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><i>11200 SW 8th St</i></td>
                </tr>
                <tr>
                    <td>
                        <a asp-area="" asp-controller="App" asp-action="About" style="margin: 25px 0px 25px 0px"><strong>About</strong></a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Support: <i><a href="mailto:mquir016@fiu.edu">Support@GeekText.com</a></i></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><i>Miami, FL 33199</i></td>
                </tr>
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="Biography" style="margin: 25px 0px 25px 0px"><strong>Biography</strong></a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Marketing: <i><a href="mailto:mquir016@fiu.edu">Marketing@GeekText.com</a></i></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                </tr>
            </table>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
