@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <environment names="Development">
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/app-books.js"></script>
        <script src="~/js/booksController.js"></script>
    </environment>

    <environment names="Production,Staging">
        <script src="~/lib/simpleControls.js"></script>
        <script src="~/lib/app-books.js"></script>
        <script src="~/lib/booksController.js"></script>
    </environment>

}

<div class="row" ng-app="app-books">

    <div ng-view></div>

</div>