@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
    
    <table>
        <tr>
            <th>Support Hours:</th>
            <th></th>
        </tr>
        <tr>
            <td>Monday:</td>
            <td>9am - 9pm</td>
        </tr>
        <tr>
            <td>Tuesday:</td>
            <td>9am - 9pm</td>
        </tr>
        <tr>
            <td>Wednesday:</td>
            <td>9am - 9pm</td>
        </tr>
        <tr>
            <td>Thursday:</td>
            <td>9am - 9pm</td>
        </tr>
        <tr>
            <td>Friday:</td>
            <td>9am - 9pm</td>
        </tr>
        <tr>
            <td>Saturday:</td>
            <td>9am - 12am</td>
        </tr>
        <tr>
            <td>Sunday:</td>
            <td>9am - 6pm</td>
        </tr>
    </table>

<br />

<address>
    <strong>Contact Information:</strong>
    <strong>Phone:</strong> 305.555.5555 <br />
    <strong>Support:</strong> <a href="mailto:mquir016@fiu.edu">Support@GeekText.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mquir016@fiu.edu">Marketing@GeekText.com</a>
</address>

<address>
    <strong>Contact Address:</strong> <br />
    11200 SW 8th St<br />
    Miami, FL 33199<br />
</address>


