@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Geek Text Users</h1>
        <a asp-controller="App" asp-action="Users" class="btn btn-lg btn-success">Browse Users</a>

        <a asp-controller="App" asp-action="Books" class="btn btn-lg btn-success">Browse Books</a>
    </div>
</div>
