@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Details";
}

<h2>Author Details</h2>
<p>
    @foreach (var item in Model.Author)
    {
        @Html.DisplayFor(modelItem => item.Id)
        <br />
        @Html.DisplayFor(modelItem => item.FirstName)
        @Html.DisplayFor(modelItem => item.LastName)
        <br />
        @Html.DisplayFor(modelItem => item.Biography)
        <br />

    }
</p>