@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    @foreach (var item in Model.Book)
    {
        @Html.DisplayFor(modelItem => item.Id)
        <br />
        @Html.DisplayFor(modelItem => item.Title)
        <br />
        @Html.DisplayFor(modelItem => item.Genre)
        <br />
        @Html.DisplayFor(modelItem => item.Isbn)
        <br />
    }
    </p>