@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookAuthor</h4>
    <hr />
        @foreach (var book in Model.Book)
        { 
                    <img width="186" height="300" src="~/images/Books/@(Html.DisplayFor(modelItem => book.Isbn)).jpg" />
                    <br />
                    <br />
                    <strong>@Html.DisplayFor(modelItem => book.Title)</strong>
                    <br />
                    <br />
                    @Html.DisplayFor(modelItem => book.Description)
                    <br />
                    <br />
        }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>