@{
    ViewData["Title"] = "Homepage";
}

<h2>Best Sellers</h2>
<br />

<iframe frameborder="0" scrolling="no" height="300" width="100%" src="http://localhost:65272/bookauthors/MostOrders"></iframe>

<br />

<h2>Recently Added</h2>

<br />

<iframe frameborder="0" scrolling="no" height="300" width="100%" src="http://localhost:65272/bookauthors/RecentlyAdded"></iframe>

<br />

<h2>Tech Valley Times Best Sellers</h2>

<br />

<iframe frameborder="0" scrolling="no" height="300" width="100%" src="http://localhost:65272/bookauthors/TVTBest"></iframe>

<br />




