@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Books";
}

@foreach (var item in Model.Book)
{
    <div class="item active">
        <img src="~/images/Books/@(Html.DisplayFor(modelItem => item.Isbn)).jpg" alt="@Html.DisplayFor(modelItem => item.Title)" class="img-responsive" />
            <p>
                
                @Html.ActionLink(item.Title, "Details", new { @item.Id })
            </p>
    </div>
}
