@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="active">
    @foreach (var item in Model.BookAuthor)
    {
            <img src="~/images/Books/@(Html.DisplayFor(modelItem => item.Book.Isbn)).jpg"/>
            <p>
                <br />
                @Html.DisplayFor(modelItem => item.Author.FirstName) 
                @Html.DisplayFor(modelItem => item.Author.LastName)
                <br />
                @Html.ActionLink(@item.Book.Title, "Details", item.Book.Id)
            </p>
    }
</div>