@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="active">
    @foreach (var item in Model.Book)
    {
            <img src="~/images/Books/@(Html.DisplayFor(modelItem => item.Isbn)).jpg" />
            <p>
                <br />
                @Html.DisplayFor(modelItem => item.Id)
                <br />
                @foreach (var bookauthor in Model.BookAuthor)
                {
                    @foreach (var author in Model.Author)
                    {
                        if (author.Id == bookauthor.AuthorId && item.Id == bookauthor.BookId)
                        {
                            @Html.ActionLink(author.FirstName + " " + author.LastName, "AuthorDetails", author.Id)
                        }
                    }
                }
                   
                <br />
                @{
                @Html.ActionLink(item.Title, "BookDetails", item.Id)
                }
            </p>
    }
</div>